<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Notices work</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <form [formGroup]="addNewNoticesForm" (ngSubmit)="addNewNotices()" class="mb-3">
      <div class="form-group">
        <label for="noticesName-id">Notices name</label>
        <input type="email" class="form-control" formControlName="name" id="noticesName-id">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    

  </div>
</div>