.notices-list{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.list-tag{
    margin-left: 10px;
    color: black;
}

.card {
    background-color: #67c5f3;
}

.btn-link {
    color: #111111;
    font-weight: bold;
}

.list-tag {
    color: #704e8a;
    font-weight: bold;
}

.card-description {
    background-color: #5fb6e2;
}