<h5>Subscribed users:</h5>


<div class="panel panel-primary">
    <div class="panel-heading">Subscribe user:</div>
    <div class="panel-body">


        <form (submit)="subscribeUser()">
            <div class="form-group-sm row">
        
                <label class="col-sm-4 col-form-label-sm">Name</label>
        
                <input type="text" #subscribeNameInput class="form-control form-control-sm col-sm-2"/>        
                
            </div>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">Add</button>
            
        </form>

    </div>
  </div>

  <div *ngFor="let item of subscribedUsers">
    <form (submit)="unsubscribeUser(item)">
        <div class="form-group-sm row">
            <label class="col-sm-4 col-form-label-sm">{{item}}</label>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">x</button>
        </div>
    </form>
  </div>

<h5>Blacklisted users:</h5>

<div class="panel panel-primary">
    <div class="panel-heading">Blacklist user:</div>
    <div class="panel-body">


        <form (submit)="blacklistUser()">
            <div class="form-group-sm row">
        
                <label class="col-sm-4 col-form-label-sm">Name</label>
        
                <input type="text" #blacklistNameInput class="form-control form-control-sm col-sm-2"/>        
                
            </div>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">Add</button>
            
        </form>

    </div>
  </div>

  <div *ngFor="let item of blacklistedUsers">

    <form (submit)="unblacklistUser(item)">
        <div class="form-group-sm row">
            <label class="col-sm-4 col-form-label-sm">{{item}}</label>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">x</button>
        </div>
    </form>
  </div>
