<div class="jumbotron">
    <h5>Subscribed users:</h5>
    
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipListSubscribeUser aria-label="Users selection">
          <mat-chip *ngFor="let user of subscribedUsers" [selectable]="selectable"
                   [removable]="removable" (removed)="removeSubscribedUser(user)">
            {{user}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="..."
                [matAutocomplete]="autoSubscribeUser"
                [matChipInputFor]="chipListSubscribeUser"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addSubscribedUser($event)">
        </mat-chip-list>
        <mat-autocomplete #autoSubscribeUser="matAutocomplete" (optionSelected)="selectedSubscribedUser($event)">
			<mat-option *ngFor="let user of filteredUsers" [value]="user">
				{{user}}
			</mat-option>
		</mat-autocomplete>
        <div>
        </div>
    </mat-form-field>
    
    <h5>Blacklisted users:</h5>
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipListBlacklistUser aria-label="Users selection">
          <mat-chip *ngFor="let user of blacklistedUsers" [selectable]="selectable"
                   [removable]="removable" (removed)="removeBlacklistedUser(user)">
            {{user}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="..."
                [matAutocomplete]="autoBlacklistUser"
                [matChipInputFor]="chipListBlacklistUser"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addBlacklistedUser($event)">
        </mat-chip-list>
		<mat-autocomplete #autoBlacklistUser="matAutocomplete" (optionSelected)="selectedBlacklistedUser($event)">
			<mat-option *ngFor="let user of filteredUsers" [value]="user">
				{{user}}
			</mat-option>
		</mat-autocomplete>
        <div>
        </div>
    </mat-form-field>
    
    </div>
    