<div class="container">
  <div class="row">
    <div style="width:100%;">
      <div class="jumbotron">
        <h1 class="display-4">Add new notices</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <form name="form" [formGroup]="addNewNoticesForm" (ngSubmit)="addNewNoticesForm.valid && onSubmit()">
          <div class="form-group">
            <input type="text"  class="form-control form-control-lg" placeholder="Add notices name" formControlName="name" [ngClass]="{'is-invalid':addNewNoticesForm.get('name').touched && addNewNoticesForm.get('name').invalid}" required />
            <div class="invalid-feedback">
              <div>Notices Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Add notices description" formControlName="description" [ngClass]="{'is-invalid':addNewNoticesForm.get('description').touched && addNewNoticesForm.get('description').invalid}" required />
            <div class="invalid-feedback">
              <div>Notices description is required</div>
            </div>
          </div>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Tags selection">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                       [removable]="removable" (removed)="removeTag(tag)">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New Tags..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addTag($event)"
                     [matAutocomplete]="autocomplete">
            </mat-chip-list>
            <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="optionSelected($event)">
              <mat-option *ngFor="let tag of availableTags" [value]="tag">
                {{tag.name}}
              </mat-option>
            </mat-autocomplete>
            <div>
              <div *ngIf="tagsAreNotEmpty() === false" class="invalid-feedback-tags">Notices Tags is required</div>
            </div>
          </mat-form-field>

          <div class="form-group" style="margin-top: 20px;">
            <button class="btn btn-primary btn-lg btn-block" [disabled]="submitDisabled()">submit new notices</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-top: 10px;">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



