<div class="jumbotron">
<h5>Subscribed tags:</h5>

<mat-form-field class="example-chip-list">
    <mat-chip-list #chipListSubscribeTag aria-label="Tags selection">
      <mat-chip *ngFor="let tag of subscribedTags" [selectable]="selectable"
               [removable]="removable" (removed)="removeSubscribedTag(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="..."
             [matChipInputFor]="chipListSubscribeTag"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addSubscribedTag($event)">
    </mat-chip-list>
    <div>
    </div>
</mat-form-field>

<h5>Blacklisted tags:</h5>
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipListBlacklistTag aria-label="Tags selection">
      <mat-chip *ngFor="let tag of blacklistedTags" [selectable]="selectable"
               [removable]="removable" (removed)="removeBlacklistedTag(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="..."
             [matChipInputFor]="chipListBlacklistTag"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addBlacklistedTag($event)">
    </mat-chip-list>
    <div>
    </div>
</mat-form-field>

</div>
