<h5>Subscribed tags:</h5>


<div class="panel panel-primary">
    <div class="panel-heading">Subscribe tag:</div>
    <div class="panel-body">


        <form (submit)="subscribeTag()">
            <div class="form-group-sm row">
        
                <label class="col-sm-4 col-form-label-sm">Name</label>
        
                <input type="text" #subscribeNameInput class="form-control form-control-sm col-sm-2"/>        
                
            </div>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">Add</button>
            
        </form>

    </div>
  </div>

  <div *ngFor="let item of subscribedTags">
    <form (submit)="unsubscribeTag(item)">
        <div class="form-group-sm row">
            <label class="col-sm-4 col-form-label-sm">{{item}}</label>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">x</button>
        </div>
    </form>
  </div>

<h5>Blacklisted tags:</h5>

<div class="panel panel-primary">
    <div class="panel-heading">Blacklist tag:</div>
    <div class="panel-body">


        <form (submit)="blacklistTag()">
            <div class="form-group-sm row">
        
                <label class="col-sm-4 col-form-label-sm">Name</label>
        
                <input type="text" #blacklistNameInput class="form-control form-control-sm col-sm-2"/>        
                
            </div>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">Add</button>
            
        </form>

    </div>
  </div>

  <div *ngFor="let item of blacklistedTags">

    <form (submit)="unblacklistTag(item)">
        <div class="form-group-sm row">
            <label class="col-sm-4 col-form-label-sm">{{item}}</label>
            <button type="submit" class="btn btn-sm btn-primary form-control-sm col-sm-1">x</button>
        </div>
    </form>
  </div>
